@model List<Reqres>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Avatar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var reqres in Model)
        {
            <tr>
                <td>@reqres.id</td>
                <td>@reqres.email</td>
                <td>@reqres.first_name</td>
                <td>@reqres.last_name</td>
               <td>
                   <img src="@reqres.avatar" width="200" />
               </td>
               
               
            </tr>
        }
    </tbody>
</table>